.wrapper {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
}

.image {
    width: 156px;
    height: 156px;
    border-radius: 50%;
}

.title {
    margin: 0 0 50px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1A1718;

}

.link {
    text-decoration: none;
    color: #1A1718;
}

.link:hover {
    color: #695b64
}

.description {
    color: #1A1718
}