@import "normalize.css";

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.content {
    padding-top: 29px;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}